@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #f4f6f8;
  color: #1f2937;
  line-height: 1.6;
}

h1 {
  font-size: xx-large;
  font-weight: 800;
}

.main-container {
  /* display: flex; */
  height: 100vh;
  width: 100%;
}

.pivot-table {
  /* flex: 1; */
  padding: 1rem 0 2rem 2rem;
  overflow: auto;
  width: 75dvw;
  background: #f4f6f8;
}

.file-name {
  text-align: center;
  margin-top: 10px;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 20px;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ffffff;
  border-left: 1px solid #d1d5db;
  /* slate-300 */
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  font-size: 0.95rem;
  border: 1px solid #e5e7eb;
  /* slate-200 */
  border-radius: 6px;
  overflow: hidden;
}

th,
td {
  border:1px solid #e5e7eb;
  padding: 0.6rem;
  text-align: center;
  vertical-align: middle;
}

/* thead tr:first-child th {
  background-color: #2f3542;
  color: #ffffff;
  font-weight: 600;
}

thead tr:nth-child(2) th {
  background-color: #3b3f4a;
  color: #ffffff;
  font-weight: 500;
} */

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f0f2f5;
}

tbody td:first-child,
tfoot td:first-child {
  background-color: #e5e7eb;
  font-weight: bold;
  /* position: sticky; */
  left: 0;
  z-index: 1;
  color: #1f2937;
}

tfoot tr {
  background-color: #dbeafe;
  font-weight: bold;
  color: #1e3a8a;
}


.droppable-area {
  border: 2px dashed #cbd5e1;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #f8fafc;
  border-radius: 6px;
  transition: background 0.2s ease;
  overflow-y: scroll;
  scrollbar-width: none;
}

.draggable-item {
  padding: 0.5rem;
  margin: 0.25rem 0;
  background: #ffffff;
  border: 1px solid #9eb6d4;
  border-radius: 4px;
  cursor: url("/cursor.png") 4 4, grab;
  transition: box-shadow 0.2s ease;
}



.draggable-item:active {
  cursor: url("/hand.png") 4 4, grabbing;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.draggable-item:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.print{
  text-align: right;
  margin-right: 10px;
}

.print-btn i{
  vertical-align: middle;
}

.print-btn{
  background-color:  rgb(0, 89, 255);
  margin-bottom: 10px;
  color: white;
  padding:0px  10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 500ms;
  position: absolute;
  right: 26%;
  top: 25%;
  &:hover{
    background-color:  rgba(0, 89, 255, 0.774);
  }
}
@media print {
  .pivot-table>div {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .pivot-table {
    width: 100%;
  }


  @page {
    size: landscape;
    margin: 1cm;
  }

  html, body {
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
  }

  .main-container {
    height: auto !important;
  }

  .pivot-table {
    width: 100% !important;
    padding: 0 !important;
    overflow: visible !important;
  }

  .sidebar,
  .print {
    display: none !important;
  }
}

.col-header:nth-child(odd){
  background-color: #2f3542;
  color: #ffffff;
}

.col-header:nth-child(even){
  background-color: #3b3f4a;
  color: #ffffff;
}

.agg-header:nth-child(odd){
    background-color:#cbd5e1;
    color: #464646;
}
.agg-header:nth-child(even){
    background-color: #d1d5db;
    color: #464646;
}